<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/about.scss]-->
    </head>
    <body>
        <div id="page-hd">
            <%include inc/head.ejs%>
        </div>
        <!--productpagestarts-->        
        <div id="page-bd">
            <div class="wrap">
                <div class="col-l">
                    <!--widget[/leftbar-a]-->
                </div>
                <div class="col-r">
                    <img src="/assets/img/static/about/cooperate-banner.png" class="banner"/>
                    <h2 class="title">金山云合作伙伴招募计划</h2>
                    <p>以云计算的发展现状来看，与各行业业务密切结合提供多方面服务将成为云计算厂商未来的发展方向，不断创建新型云计算服务、为用户提供更加丰富和完善的附加服务，是我们的愿景。这需要金山云与您共同实现。<br/>
我们期望更多合作伙伴能够依托金山云的产品及服务，以促进传统产业升级、帮助用户快速上云以及帮助用户业务快速发展为导向，提供更多更好的服务。 </p>
                    <h2 class="title">金山云合作伙伴的优势</h2>
                    <p>成为合作伙伴，您将获得海量级客户、优先展示的机会及优质的服务体验，依托金山集团26年的深厚技术积累，以业内领先的用户体验和服务端技术，为用户和企业提供国内领军级云服务产品。</p>
                    <p>1、我们为合作伙伴提供以下支持：<br/>
                       2、强大品牌支持<br/>
                       3、市场资源支持<br/>
                       4、海量客户支持<br/>
                       5、技术培训支持<br/>
                       6、API技术支持</p>
                   
                    <h2 class="title">金山云合作伙伴类型</h2>
                    <p>解决方案合作<br/>
基于金山云行业解决方案用户的业务需求与金山云达成合作。合作形式不限于帮助用户进行产品售卖、业务推广、企业管理应用等等。并乐于引导行业客户使用金山云产品。</p>

                    <p>云应用合作<br/>
提供基于金山云的SaaS服务，凭借金山云多年的技术实力为合作伙伴提供底层架构支撑，帮助应用上云，并在用户业务层面提供更多第三方应用服务，帮助用户快速拓展云上业务。</p>
                
                    <p>渠道服务合作<br/>
                    基于金山云云计算服务，向合作渠道商提供金山云线上产品代理的同时向合作伙伴提供专业的技术支持。
                    </p>
                    <p>更多类型合作，正等待您的加入！</p>
                    <h2 class="title">申请成为合作伙伴</h2>
                    <div class="flowchart">
                        <img src="/assets/img/static/about/flow-chart.png"/>
                        <div class="code">
                            <p>加入金山云合作伙伴</p>
                            <p>合作伙伴需登录（注册）金山云账号，在金山云合作伙伴页面下提交合作申请<em>（内容包括：公司名称、所在地区、联络地址、合作业务简介、联络人姓名、移动电话号码和邮箱地址。）</em>我们将通过电话或邮件方式与您进行合作交流。</p>
                        </div>
                        <p>请您发送以上内容至邮箱<a  href="mailto:dddd@ddd.com">**************</a>（我们将在5个工作日内回复）</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <%include inc/pro-vip.ejs%>
        </div>
        <!--productpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/about/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
