<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/about.scss]-->
    </head>
    <body>
        <div id="page-hd">
            <%include inc/head.ejs%>
        </div>
        <!--productpagestarts-->        
        <div id="page-bd">
            <div class="wrap">
                <div class="col-l">
                    <!--widget[/leftbar-a]-->
                </div>
                <div class="col-r">
                    <h2 class="title">我们的链接</h2>
                    <p>我们非常欢迎交换友情链接，但交换链接网站需满足 PR>=5 <br/>
在您把本站加入贵站友情链接后，请将贵站的链接代码发至laimei@kingcloud.com，<br/>
我们会尽快处理。</p>
                    <div class="colink">
                        <dl>
                            <dt>
                                <p>文字链接：</p>
                                <blockquote>金山云计算</blockquote>
                            </dt>
                            <dd>
                                <textarea readonly="readonly">我们非常欢迎交换友情链接，但交换链接网站需满足 PR>=5 在您把本站加入贵站友情链接后，请将贵站的链接代码发至laimei@kingcloud.com，我们会尽快处理。
                                </textarea>
                            </dd>
                            <dt>
                                <p>图片链接：</p>
                                <blockquote>
                                    <img src="/assets/img/static/logo.png"/>
                                </blockquote>
                            </dt>
                            <dd>
                                <textarea readonly="readonly"><a href="http://www.ucloud.cn"><img src="http://www.ucloud.cn/static/style/images/about/logo.png" border="0" alt="UCloud云计算" /></a>
                                </textarea> 
                            </dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                    <h2 class="title">友情链接</h2>
                    <div class="colink">
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">SendCloud</a>
                        <a href="#">ThinkPHP开发框架</a>
                        `<div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <%include inc/pro-vip.ejs%>
        </div>
        <!--productpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/about/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
