<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/helpcenter.scss]-->
    </head>
    <body>
        <div id="page-hd">
        <%include inc/head.ejs%>
        </div>
        <!--helpcenterpagestarts-->        
        <div id="page-bd">
            <div class="skin-dark">
                <div class="wrap">
                     <form class="helpsrc">
                        <input type="text" placeholder="请输入你想了解的问题、关键词或云产品名称"/>
                        <button type="submit">搜索</button>
                    </form>
                </div>
            </div>
            <div class="wrap">
                <div class="src-result">
                    <div class="breadthumb">
                        搜索结果 > 数据库
                    </div>
                    <ol>
                        <li>
                            <a href="#">金山云存储-国内最大云存储服务商-金山云</a>
                            <p>金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文...</p>
                            <div class="source">
                                <a href="#">http://ks3.ksyun.com/doc/imghand...</a>
                                <span class="date">2014-08-07</span>
                            </div>
                        </li>
                        <li>
                            <a href="#">金山云存储-国内最大云存储服务商-金山云</a>
                            <p>金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文...</p>
                            <div class="source">
                                <a href="#">http://ks3.ksyun.com/doc/imghand...</a>
                                <span class="date">2014-08-07</span>
                            </div>
                        </li>
                        <li>
                            <a href="#">金山云存储-国内最大云存储服务商-金山云</a>
                            <p>金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文...</p>
                            <div class="source">
                                <a href="#">http://ks3.ksyun.com/doc/imghandasldkfjahsldkjfahlsdkjfh</a>
                                <span class="date">2014-08-07</span>
                            </div>
                        </li>
                        <li>
                            <a href="#">金山云存储-国内最大云存储服务商-金山云</a>
                            <p>金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文...</p>
                            <div class="source">
                                <a href="#">http://ks3.ksyun.com/doc/imghand...</a>
                                <span class="date">2014-08-07</span>
                            </div>
                        </li>
                        <li>
                            <a href="#">金山云存储-国内最大云存储服务商-金山云</a>
                            <p>金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文...</p>
                            <div class="source">
                                <a href="#">http://ks3.ksyun.com/doc/imghand...</a>
                                <span class="date">2014-08-07</span>
                            </div>
                        </li>
                        <li>
                            <a href="#">金山云存储-国内最大云存储服务商-金山云</a>
                            <p>金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文金山标准存储服务简称KS3,是金山云为<em>数据库</em>提供无限制、多备份、分布式的低成本存储空间解决方案。支持任何类型数据库的上传和下载,文件个数无限制,单文...</p>
                            <div class="source">
                                <a href="#">http://ks3.ksyun.com/doc/imghand...</a>
                                <span class="date">2014-08-07</span>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="pages">
                    <ol>
                        <li class="btn-prev">上一页</li>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li class="btn-next">下一页</li>
                    </ol>
                    <strong>当前第2页 共3页</strong>
                </div>
            </div>
        </div>
        <!--productpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/helpcenter/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
