<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/helpcenter.scss]-->
    </head>
    <body>
        <div id="page-hd">
            <%include inc/head.ejs%>
        </div>
        <!--helpdocpagestarts-->        
        <div id="page-bd" class="doc">
            <div class="wrap">
                <div class="col-ln">
                    <!--widget[/leftbar-help]-->
                </div>
                <div class="col-rn">
                    <h1>云服务器KEC介绍</h1>
                    <p class="word-a">云服务器KEC是处理能力可弹性伸缩的计算服务。管理方式比物理服务器更简单高效，可根据您的业务需要，随时创建</br>、释放任意多台云服务,管理方式比物理服务器更简单高效，可根据您的业务需要，随时创建、释放任意多台云服务,随时创建、释放任意多台云服务</p>
                    <p class="word-a">云服务器KEC是处理能力可弹性伸缩的计算服务。管理方式比物理服务器更简单高效，可根据您的业务需要，随时创建</br>、释放任意多台云服务:
                    </p>
                    <p class="word-b">
                        CPU: 1核-16核</br>
                        内存： 1GB-64GB</br>
                        镜像类型：公共镜像、公共镜像、公共镜像、公共镜像</br>
                        镜像类型：公共镜像、公共镜像、公共镜像、公共镜像</br>
                        镜像类型：公共镜像、公共镜像、公共镜像、公共镜像</br>
                        镜像类型：公共镜像、公共镜像、公共镜像、公共镜像</br>
                        镜像类型：公共镜像、公共镜像、公共镜像、公共镜像</br>
                        镜像类型：公共镜像、公共镜像、公共镜像、公共镜像</br>
                    </p>
                    <img src="/assets/img/static/helpcenter/img-helpdoc-1.png">
                    <p class="word-c">
                        对已创建的KEC您可以：</br>
                        灵活升级配置。</br>
                        云服务器KEC是处理能力可弹性伸缩的计算服务。</br>
                        管理方式比物理服务器更简单高效，可根据您的业务需要。</br>
                        随时创建、释放任意多台云服务.</br>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--helpdocpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/helpcenter/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
