<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/helpcenter.scss]-->
    </head>
    <body>
        <div id="page-hd">
        <%include inc/head.ejs%>
        </div>
        <!--helpcenterpagestarts-->        
        <div id="page-bd">
            <div class="wrap">
                <div class="col-l">
                </div>
                <div class="col-r">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--productpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/product/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
