<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/helpcenter.scss]-->
    </head>
    <body>
        <div id="page-hd">
        <%include inc/head.ejs%>
        </div>
        <!--helpcenterpagestarts-->        
        <div id="page-bd">
            <div class="wrap">
                <div class="col-l">
                    <h1>帮助中心</h1>
                    <form class="helpsrc">
                        <input type="text" placeholder="请输入你想了解的问题、关键词或云产品名称"/>
                        <button type="submit">搜索</button>
                    </form>
                    <section class="hotword">
                        热门关键字： 云主机、发票、API、备案
                    </section>
                    <h2 class="title">常见问题</h2>
                    <dl>
                        <dt>快速使用</dt>
                        <dd>
                            <a href="#">了解云计算</a>
                            <a href="#">了解金山云</a>
                            <a href="#">购买流程</a>
                            <a href="#">云服务价格</a>
                            <a href="#">免费试用指导</a>
                        </dd>
                        <dt>账号服务</dt>
                        <dd>
                            <a href="#">账号注册</a>
                            <a href="#">产品开通</a>
                            <a href="#">计费规则</a>
                            <a href="#">找回密码</a>
                            <a href="#">账户充值</a>
                            <a href="#">交易明细</a>
                            <a href="#">余额提现</a>
                            <a href="#">申请合同</a>
                            <a href="#">申请发票</a>
                            <a href="#">申请退款</a>
                            <a href="#">售后服务</a>
                            <a href="#">子帐号说明</a>
                        </dd>
                        <dt>政策规范</dt>
                        <dd>
                            <a href="#">云主机使用协议</a>
                            <a href="#">云标准存储服务协议</a>
                            <a href="#">补充协议</a>
                            <a href="#">云主机使用协议CND条款版</a>
                            <a href="#">设备采购合同模板</a>
                        </dd>
                        <dt>备案指导</dt>
                        <dd>
                            <a href="#">备案介绍</a>
                            <a href="#">备案流程</a>
                            <a href="#">备案要求</a>
                            <a href="#">备案材料</a>
                        </dd>
                    </dl>
                    <h2 class="title">操作指引</h2>
                    <dl>
                        <dt>计算与网络</dt>
                        <dd>
                            <a href="#">了解云计算</a>
                            <a href="#">了解金山云</a>
                            <a href="#">购买流程</a>
                        </dd>
                        <dt>数据库</dt>
                        <dd>
                            <a href="#">账号注册</a>
                            <a href="#">产品开通</a>
                            <a href="#">计费规则</a>
                        </dd>
                        <dt>存储/内容传输</dt>
                        <dd>
                            <a href="#">云主机使用协议</a>
                            <a href="#">云标准存储服务协议</a>
                            <a href="#">补充协议</a>
                        <dt>安全监控</dt>
                        <dd>
                            <a href="#">备案介绍</a>
                            <a href="#">备案流程</a>
                            <a href="#">备案要求</a>
                        </dd>
                        <dt>游戏云</dt>
                        <dd>
                            <a href="#">备案介绍</a>
                            <a href="#">备案流程</a>
                            <a href="#">备案要求</a>
                        </dd>
                        <dt>视频云</dt>
                        <dd>
                            <a href="#">备案介绍</a>
                            <a href="#">备案流程</a>
                            <a href="#">备案要求</a>
                        </dd>
                        <dt>企业云</dt>
                        <dd>
                            <a href="#">备案介绍</a>
                            <a href="#">备案流程</a>
                            <a href="#">备案要求</a>
                        </dd>
                    </dl>
                    <h2 class="title">入门指南</h2>
                    <div class="tab">
                        <ol>
                            <li>注册购买</li>
                            <li>产品开通</li>
                            <li>备案流程</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tabcontent">
                        <ol>
                            <li><img src="/assets/img/static/helpcenter/pic-tab-1.png"/></li>
                            <li><img src="/assets/img/static/helpcenter/pic-tab-2.png"/></li>
                            <li><img src="/assets/img/static/helpcenter/pic-tab-3.png"/></li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                    <h2 class="title">API文档</h2>
                    <dl>
                        <dt>接口调用说明</dt>
                        <dd>
                            <a href="#">通信协议与规则</a>
                            <a href="#">接口鉴权</a>
                            <a href="#">公共参数</a>
                        </dd>
                        <dt>用户中心</dt>
                        <dd>
                            <a href="#">AddProject</a>
                            <a href="#">DescribeProject</a>
                        </dd>
                        <dt>云服务器</dt>
                        <dd>
                            <a href="#">DescribeInstances</a>
                            <a href="#">RunInstances StartInstances StopInstances</a>
                        <dt>云监控</dt>
                        <dd>
                            <a href="#">DescribeInstances</a>
                            <a href="#">RunInstances StartInstances StopInstances</a>
                        </dd>
                        <dt>负载均衡</dt>
                        <dd>
                            <a href="#">备案介绍</a>
                            <a href="#">备案流程</a>
                            <a href="#">备案要求</a>
                        </dd>
                        <dt>镜像</dt>
                        <dd>
                            <a href="#">备案介绍</a>
                            <a href="#">备案流程</a>
                            <a href="#">备案要求</a>
                        </dd>
                        <dt>云数据库</dt>
                        <dd>
                            <a href="#">备案介绍</a>
                            <a href="#">备案流程</a>
                            <a href="#">备案要求</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-r">
                    <section class="info">
                        <h4>客户服务信息</h4>
                        <ol>
                            <li>售前服务：<a href="#">在线客服</a></li>
                            <li>售后服务：<a href="#">提交问题</a></li>
                            <li>技术支持：400-028-9900</li>
                        </ol>
                    </section>
                    <section class="info">
                        <h4>产品更新</h4>
                        <ol>
                            <li><a href="#">金山云北京3区、上海1区、香港1区机房功能升级通知</a></li>
                            <li><a href="#">金山云上海机房切换新BGP出口操作说明</a></li>
                            <li><a href="#">金山医云+北大医信，中国医疗云计算走进新时代啦</a></li>
                            <li><a href="#">金山云北京3区、上海1区、香港1区机房功能升级通知</a></li>
                            <li><a href="#">【免费试用3个月】LBS负载均衡新产品上线</a></li>
                        </ol>
                    </section>
                    <section class="info">
                        <h4>常见问题</h4>
                        <ol>
                            <li><a href="#">发票开具流程</a></li>
                            <li><a href="#">如何远程登录云主机？</a></li>
                            <li><a href="#">如何快速搭建VPN？</a></li>
                            <li><a href="#">CDN FAQ</a></li>
                            <li><a href="#">如何配置IIS+php+mysql？</a></li>
                        </ol>
                    </section>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--productpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/helpcenter/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
