<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/about.scss]-->
    </head>
    <body>
        <div id="page-hd">
            <%include inc/head.ejs%>
        </div>
        <!--productpagestarts-->        
        <div id="page-bd" class="content">
            <div class="wrap">
                <div class="breadthumb">
                    <ol>
                        <li><a href="#">首页</a>></li>
                        <li><a href="#">新闻动态</a>></li>
                        <li><a href="#">官网公告</a></li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
                <div class="contents">
                    <hgroup>
                        <h1>11.11金山云千万元高富帅大礼包免费送</h1>
                        <span class="date">发布时间：2015-06-26</span>
                        <span class="share">
                            <span>分享到：</span>
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style_24x24" id="btn-share">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a class="jiathis_button_renren"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            </div>
                            <div class="clearfix"></div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                        </span>
                    </hgroup>
                    <article>
                        <p>11.11来袭，作为一向爱凑热闹的云叔当然不能缺席。金山云将要奉上力度最大的促销活动：不发代金券，不做打折，云主机直接免费送！从11月11日0点起，持续11天，云叔送出1111台高配+高性能云主机！Bigger than bigger的是，本次活动金山云还联合了安全宝、环信、HappyLink、多备份共同送出高富帅大礼包。</p>
                        <p>11.11来袭，作为一向爱凑热闹的云叔当然不能缺席。金山云将要奉上力度最大的促销活动：不发代金券，不做打折，云主机直接免费送！从11月11日0点起，持续11天，云叔送出1111台高配+高性能云主机！Bigger than bigger的是，本次活动金山云还联合了安全宝、环信、HappyLink、多备份共同送出高富帅大礼包。</p>
                        <p>11.11来袭，作为一向爱凑热闹的云叔当然不能缺席。金山云将要奉上力度最大的促销活动：不发代金券，不做打折，云主机直接免费送！从11月11日0点起，持续11天，云叔送出1111台高配+高性能云主机！Bigger than bigger的是，本次活动金山云还联合了安全宝、环信、HappyLink、多备份共同送出高富帅大礼包。</p>
                    </article>
                </div>
            </div>
            <%include inc/pro-vip.ejs%>
        </div>
        <!--productpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/about/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
