<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/about.scss]-->
    </head>
    <body>
        <div id="page-hd">
            <%include inc/head.ejs%>
        </div>
        <!--productpagestarts-->        
        <div id="page-bd">
            <div class="wrap">
                <div class="col-l">
                    <!--widget[/leftbar-a]-->
                </div>
                <div class="col-r">
                    <div class="newslist">
                        <ol>
                            <li>
                                <a href="#">金山云北京3区机房光纤线路调整通知</a>
                                <span class="date">发布时间：2015-06-26</span>
                            </li>
                            <li>
                                <a href="#">金山医云＋北大医信，云计算走近新时代啦</a>
                                <span class="date">发布时间：2015-06-26</span>
                            </li>
                            <li>
                                <a href="#">金山云北京3区机房光纤线路调整通知</a>
                                <span class="date">发布时间：2015-06-26</span>
                            </li>
                            <li>
                                <a href="#">金山医云＋北大医信，中国医疗</a>
                                <span class="date">发布时间：2015-06-26</span>
                            </li>
                            <li>
                                <a href="#">金山云北京3区机房光纤线路调整通知</a>
                                <span class="date">发布时间：2015-06-26</span>
                            </li>
                        </ol>
                    </div>
                    <div class="pages">
                        <ol>
                            <li class="btn-prev">上一页</li>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li class="btn-next">下一页</li>
                        </ol>
                        <strong>当前第2页 共3页</strong>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <%include inc/pro-vip.ejs%>
        </div>
        <!--productpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/about/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
