<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云游戏评测 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/product.scss]-->
    </head>
    <body>
        <div id="page-hd">
            <%include inc/head.ejs%>
        </div>
        <!--productpagestarts-->        
        <div id="page-bd">
            <div class="wrap">
                <div class="col-l">
                    <%include inc/pro-col-l.ejs%>
                </div>
                <div class="col-r">
                    <div class="pro-intro">
                        <img src="/assets/img/static/product/pic-intro.png" class="intro-img"/>
                        <h1>金山云游戏评测</h1>
                        <p>金山云游戏评测服务是针对移动游戏领域，推出业内首个集市场环境、游戏兼容性、运营数据、美术、音乐、安全性、崩溃等分析，及游戏专家评测、玩家反馈等一系列定制化的游戏公正客观的评测服务。</p>
                        <div class="intro-pay">
                            <a href="#" class="btn">立即购买</a>                          
                        </div>
                    </div>
                    <ol class="tab">
                        <li class="active">产品优势</li>
                        <li>产品功能</li>
                        <li>用户案例</li>
                        <li>文档资料</li>
                    </ol>
                    <h2>产品优势</h2>
                    <div class="pro-des">
                        <h4>精准数据对比</h4>
                        <img src="/assets/img/static/product/arrow.png"/>
                        <p>对比数据全部来自于封测阶段，保证对比产品处在同一研发阶段；进行精确产品定位，从多个维度挑选同类产品数据进行对比。</p>
                    </div>
                    <div class="pro-des">
                        <h4>测试环境稳定</h4>
                        <img src="/assets/img/static/product/clock.png"/>
                        <p>固定的移动端测试版块确保了每款测试产品的展示量保持恒定，在同等环境下得出的玩家行为数据更能够反映产品的优缺点。</p>
                    </div>
                    <div class="pro-des">
                        <h4>专业玩家评审</h4>
                        <img src="/assets/img/static/product/people.png"/>
                        <p>大规模资深手游玩家评测团队，从玩家体验角度出发对游戏产品进行系统的、全面的专业点评。</p>
                    </div>
                    <h2>产品功能</h2>
                    <ol class="functional">
                        <li>
                            <img src="/assets/img/static/product/phone.png"/>
                            <h5>适配测试</h5>
                            <p>一键式创建一个虚拟机</p>
                        </li>
                        <li>
                            <img src="/assets/img/static/product/xiaoguo.png"/>
                            <h5>吸量效果测试</h5>
                            <p>可以支持主机随时升级内存，cpu，硬盘</p>
                        </li>
                        <li>
                            <img src="/assets/img/static/product/shujufenxi.png"/>
                            <h5>运营数据分析</h5>
                            <p>支持用户随时制作镜像以及重装系统</p>
                        </li>
                        <li>
                            <img src="/assets/img/static/product/fankui.png"/>
                            <h5>玩家票选反馈</h5>
                            <p>提供实时监控，性能高低一目了然</p>
                        </li>
                        <li>
                            <img src="/assets/img/static/product/zhuanjiajianyi.png"/>
                            <h5>评测专家建议</h5>
                            <p>支持资源隔离，分权限管理。</p>
                        </li>
                    </ol>
                    <h2>用户案例</h2>
                    <ol class="showcase">
                        <li>
                            <div class="showcase-border">
                                <a href="#">
                                    <img src="/assets/img/static/product/chaoshenzhanji.png"/>
                                </a>
                            </div>
                            <p>超神战记</p>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <img src="/assets/img/static/product/sanguo.png"/>
                                </a>
                            </div>
                            <p>锤子三国</p>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <img src="/assets/img/static/product/bianxingjingang.png"/>
                                </a>
                            </div>
                            <p>变形金刚</p>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <img src="/assets/img/static/product/quanminqiji.png"/>
                                </a>
                            </div>
                            <p>全民奇迹</p>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <img src="/assets/img/static/product/daomeng.png"/>
                                </a>
                            </div>
                            <p>盗梦英雄</p>
                        </li>
                        <li>
                            <div class="showcase-border">
                                <a href="#">
                                    <img src="/assets/img/static/product/dazhuzai.png"/>
                                </a>
                            </div>
                            <p>大主宰</p>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <img src="/assets/img/static/product/xiyou.png"/>
                                </a>
                            </div>
                            <p>西游降魔篇3D</p>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <img src="/assets/img/static/product/lengxiaohua.png"/>
                                </a>
                            </div>
                            <p>十万个冷笑话</p>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <img src="/assets/img/static/product/huaqiangu.png"/>
                                </a>
                            </div>
                            <p>花千骨</p>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <img src="/assets/img/static/product/maoxiandao.png"/>
                                </a>
                            </div>
                            <p>冒险岛</p>
                        </li>
                    </ol>
                    <h2>文档资料</h2>
                    <ol class="pro-file">
                        <li>
                            <h5>服务流程</h5>
                            <a href="#">提交初审包</a>
                            <a href="#">申请APPID</a>
                            <a href="#">SDK接入</a>
                            <a href="#">提交正式包和物料</a>
                            <a href="#">上架</a>
                            <a href="#">新版本提交</a>
                            <a href="#">下架</a>
                            <a href="#">认领</a>
                        </li>
                        <li>
                            <h5>常见问题</h5>
                            <a href="#">是否要接入SDK?</a>
                            <a href="#">对接金山云评测平台和直接对接渠道有何区别?</a>
                            <a href="#">是否必须使用金山云服务器?</a>
                            <a href="#">数据统计平台是否可以自选?</a>
                            <a href="#">数据是否会有泄露风险?</a>
                            <a href="#">数据不好是否可以再测试?</a>
                            <a href="#">玩家反馈如何收集?</a>
                        </li>
                    </ol>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--productpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/product/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>