<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/product.scss]-->
    </head>
    <body>
        <div id="page-hd">
        <%include inc/head.ejs%>
        </div>
        <!--productpagestarts-->        
        <div id="page-bd">
            <div class="wrap">
                <div class="col-l">
                    <%include inc/pro-col-l.ejs %>
                </div>
                <div class="col-r">
                    <div class="pro-intro">
                        <img src="/assets/img/static/product/pic-intro.png" class="intro-img"/>
                        <h1>云服务器 KEC</h1>
                        <p>金山云服务器 KEC配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面， 为用户在业务高峰期保驾护航。使用Raid技术构建的磁盘冗余阵列， 不仅能够多重保护数据安全，并深度有效的提升了磁盘读写能力， 户节省运营成本的同时提升了资源利用率。</p>
                        <ol>
                            <li>在线购买</li>
                            <li>包年包月（元/月）</li>
                        </ol>
                        <div class="intro-pay">
                            <a href="#" class="btn">立即购买</a>
                            <strong>73<span>/月 起</span></strong>
                            <span class="ico-vip">企业认证用户，首台KEC可享5折！</span>
                        </div>
                    </div>
                    <ol class="tab">
                        <li class="active">产品优势</li>
                        <li>产品功能</li>
                        <li>用户案例</li>
                        <li>推荐配置</li>
                        <li>文档资料</li>
                    </ol>
                    <h2>产品优势</h2>
                    <div class="pro-des">
                        <h4>高性能SSD磁盘</h4>
                        <img src="/assets/img/static/product/pro-des-1.png"/>
                        <p>本地SSD盘具有高随机IOPS、高吞吐量、低时延等特点。从容应对用户业务量激增的局面 。</p>
                    </div>
                    <div class="pro-des">
                        <h4>保障数据安全</h4>
                        <img src="/assets/img/static/product/pro-des-2.png"/>
                        <p>Raid技术构建的磁盘冗余阵列， 能够多重保护数据安全。</p>
                    </div>
                    <div class="pro-des">
                        <h4>配置弹性扩展</h4>
                        <img src="/assets/img/static/product/pro-des-3.png"/>
                        <p>配合灵活多样的计费方式，为用户节省运营成本的同时提升了资源利用率。</p>
                    </div>
                    <div class="pro-des">
                        <h4>动态迁移</h4>
                        <img src="/assets/img/static/product/pro-des-3.png"/>
                        <p>用户数据暴增或发生灾难时，快速无感知动态迁移，高稳定可靠性。</p>
                    </div>
                    <h2>产品功能</h2>
                    <ol class="functional">
                        <li>
                            <img src="/assets/img/static/product/pro-fn-1.png"/>
                            <h5>快速创建</h5>
                            <p>一键式创建一个虚拟机</p>
                        </li>
                        <li>
                            <img src="/assets/img/static/product/pro-fn-2.png"/>
                            <h5>灵活扩容</h5>
                            <p>可以支持主机随时升级内存，cpu，硬盘</p>
                        </li>
                        <li>
                            <img src="/assets/img/static/product/pro-fn-3.png"/>
                            <h5>自定镜像</h5>
                            <p>支持用户随时制作镜像以及重装系统</p>
                        </li>
                        <li>
                            <img src="/assets/img/static/product/pro-fn-4.png"/>
                            <h5>完善监控</h5>
                            <p>提供实时监控，性能高低一目了然</p>
                        </li>
                        <li>
                            <img src="/assets/img/static/product/pro-fn-5.png"/>
                            <h5>子账号</h5>
                            <p>支持资源隔离，分权限管理。</p>
                        </li>
                        <li>
                            <img src="/assets/img/static/product/pro-fn-6.png"/>
                            <h5>弹性IP</h5>
                            <p>迁移中动态转移IP，灾难时快速高效完成系统恢复</p>
                        </li>
                    </ol>
                    <h2>用户案例</h2>
                    <ol class="showcase">
                        <li><a href="#"><img src="/assets/img/static/product/pro-case-1.png"/></a></li>
                        <li><a href="#"><img src="/assets/img/static/product/pro-case-2.png"/></a></li>
                        <li><a href="#"><img src="/assets/img/static/product/pro-case-3.png"/></a></li>
                        <li><a href="#"><img src="/assets/img/static/product/pro-case-4.png"/></a></li>
                        <li><a href="#"><img src="/assets/img/static/product/pro-case-5.png"/></a></li>
                    </ol>
                    <h2>推荐配置</h2>
                    <ol class="pro-conf">
                        <li>
                            <h4>入门型</h4>
                            <strong><span>¥</span>88</strong>
                            <dl>
                                <dt>CPU</dt>
                                <dd>1核</dd>
                                <dt>内存</dt>
                                <dd>1G</dd>
                                <dt>硬盘</dt>
                                <dd>50G</dd>
                            </dl>
                            <div class="clearfix"></div>
                            <a href="#" class="btn">立即购买</a>
                        </li>
                        <li>
                            <h4>普通型</h4>
                            <strong><span>¥</span>252</strong>
                            <dl>
                                <dt>CPU</dt>
                                <dd>2核</dd>
                                <dt>内存</dt>
                                <dd>4G</dd>
                                <dt>硬盘</dt>
                                <dd>100G</dd>
                            </dl>
                            <div class="clearfix"></div>
                            <a href="#" class="btn">立即购买</a>
                        </li>
                        <li>
                            <h4>性能型</h4>
                            <strong><span>¥</span>1038</strong>
                            <dl>
                                <dt>CPU</dt>
                                <dd>8核</dd>
                                <dt>内存</dt>
                                <dd>16G</dd>
                                <dt>硬盘</dt>
                                <dd>500G</dd>
                            </dl>
                            <div class="clearfix"></div>
                            <a href="#" class="btn">立即购买</a>
                        </li>
                    </ol>
                    <h2>文档资料</h2>
                    <ol class="pro-file">
                        <li>
                            <h5>购买指导</h5>
                            <a href="#">如何备案</a>
                            <a href="#">分区格式化/挂载数据盘</a>
                            <a href="#">ECS服务器连接管理终端使用说明</a>
                            <a href="#">自动快照功能介绍</a>
                            <a href="#">独立云磁盘和可用区常见问题</a>
                            <a href="#">本地SSD盘常见问题FAQ</a>
                        </li>
                        <li>
                            <h5>操作指引</h5>
                            <a href="#">如何备案</a>
                            <a href="#">分区格式化/挂载数据盘</a>
                            <a href="#">ECS服务器连接管理终端使用说明</a>
                            <a href="#">自动快照功能介绍</a>
                            <a href="#">独立云磁盘和可用区常见问题</a>
                            <a href="#">本地SSD盘常见问题FAQ</a>
                        </li>
                        <li>
                            <h5>常见问题</h5>
                            <a href="#">如何备案</a>
                            <a href="#">分区格式化/挂载数据盘</a>
                            <a href="#">ECS服务器连接管理终端使用说明</a>
                            <a href="#">自动快照功能介绍</a>
                            <a href="#">独立云磁盘和可用区常见问题</a>
                            <a href="#">本地SSD盘常见问题FAQ</a>
                        </li>
                    </ol>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--productpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
        <script type="text/javascript" data-main="/assets/script/product/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
