<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> 金山云 </title>
        <%include inc/common.ejs %>
        <!--resstyle[/assets/style/ext/solutionpage.scss]-->
    </head>
    <body>
        <div id="page-hd">
        <%include inc/head.ejs%>
        <!--widget[/slidebanner]-->
        </div>
        <!--solutionpagestarts-->        
        <div id="page-bd">
            <!-- solutionprogram -->
            <div class="promlink">
                <div class="wrap">
                   <ul class="gather-inline">
                        <li>
                            <a href="javascript:void(0);" data-anchor="#cloudserver">
                                <div class="border">
                                    <img src="/assets/img/solution/icon-cloudserver.png" />
                                    高性能云服务
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-anchor="#register">
                                <div class="border">
                                    <img src="/assets/img/solution/icon-register.png" />
                                    免费备案
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-anchor="#monitor">
                                <div class="border">
                                    <img src="/assets/img/solution/icon-monitor.png" />
                                    监控与安全
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-anchor="#customcase">
                                <div class="border">
                                    <img src="/assets/img/solution/icon-customcase.png" />
                                    客户案例
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="clearfix"></ul>
                </div>
            </div>

            <div id="cloudserver" class="cloudserver skin-dark">
                <div class="wrap">
                    <h1>高性能云服务</h1>
                    <div class="cloud">
                        <ul class="cloud-inline">
                            <li>
                                <img src="/assets/img/solution/x-cloud.png">
                                <span>云服务器</span>
                                <p>高性能SSD磁盘, 弹性扩展</p>
                                <a href="javascript:void(0);">查看详情</a>
                            </li>
                            <li>
                                <img src="/assets/img/solution/x-database.png">
                                <span>数据库</span>
                                <p>数据多重备份, 一键恢复</p>
                                <a class="active" href="javascript:void(0);">查看详情</a>
                            </li>
                            <li>
                                <img src="/assets/img/solution/x-balance.png">
                                <span>负载均衡</span>
                                <p>从容应对海量请求, 保证业务稳定</p>
                                <a href="javascript:void(0);">查看详情</a>
                            </li>
                            <li>
                                <img src="/assets/img/solution/x-cdn.png">
                                <span>CDN</span>
                                <p>有效提高访问网站的响应速度</p>
                                <a href="javascript:void(0);">查看详情</a>
                            </li>
                        </ul>
                        <ul class="clearfix" style="margin-bottom:100px;"></ul>
                    </div>
                </div>
            </div>

            <div id="register" class="register">
                <div class="wrap">
                    <h1>免费网站备案</h1>
                    <a href="javascript:void(0);" class="btn-more">了解更多</a>
                    <div class="col-l">
                        <h2>省时省力</h2>
                        <p>在金山云，您只需提交备案相关资料，剩下的将由我们帮您解决在金山云，您只需提交备案相关资料，配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</p>
                    </div>
                    <div class="col-r">
                        <img src="/assets/img/solution/register_1.png" />
                    </div>
                    <div class="clearfix" style="margin-bottom: 90px;"></div>
                    <div class="col-l">
                        <img src="/assets/img/solution/register_2.png" /> 
                    </div>
                    <div class="col-r">
                        <h2>高效贴心</h2>
                        <p>在金山云，您只需提交备案相关资料，剩下的将由我们帮您解决在金山云，您只需提交备案相关资料，配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</p>
                    </div>
                    <div class="clearfix" style="margin-bottom: 90px;"></div>
                </div>
            </div>

            <div id="monitor" class="monitor">
                <div class="wrap">
                    <h1>监控与安全</h1>
                    <div class="pic">
                        <img src="/assets/img/solution/monitor_1.png" />
                        <img src="/assets/img/solution/monitor_2.png" />
                        <img src="/assets/img/solution/monitor_3.png" />
                    </div>
                    <div class="word">
                        <div class="col">配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</div>
                        <div class="col">配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</div>
                        <div class="col">配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

             <div id="customcase" class="customcase skin-dark">
                <div class="wrap">
                    <h1>客户案例</h1>
                    <ul class="customcase-inline">
                        <li>
                            <div class="col-l">
                                <img src="/assets/img/solution/icon-game-1.png" />
                            </div>
                            <div class="col-r">
                                <h2>小游戏世界</h2>
                                <p>配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</p>
                            </div>
                        </li>
                        <li>
                            <div class="col-l">
                                <img src="/assets/img/solution/icon-game-1.png" />
                            </div>
                            <div class="col-r">
                                <h2>小游戏世界</h2>
                                <p>配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</p>
                            </div>
                        </li>
                        <li>
                            <div class="col-l">
                                <img src="/assets/img/solution/icon-game-1.png" />
                            </div>
                            <div class="col-r">
                                <h2>小游戏世界</h2>
                                <p>配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</p>
                            </div>
                        </li>
                        <li>
                            <div class="col-l">
                                <img src="/assets/img/solution/icon-game-1.png" />
                            </div>
                            <div class="col-r">
                                <h2>小游戏世界</h2>
                                <p>配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</p>
                            </div>
                        </li>
                        <li>
                            <div class="col-l">
                                <img src="/assets/img/solution/icon-game-1.png" />
                            </div>
                            <div class="col-r">
                                <h2>小游戏世界</h2>
                                <p>配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</p>
                            </div>
                        </li>
                        <li>
                            <div class="col-l">
                                <img src="/assets/img/solution/icon-game-1.png" />
                            </div>
                            <div class="col-r">
                                <h2>小游戏世界</h2>
                                <p>配备了SSD磁盘的高性能云主机，可以从容应对用户业务量激增的局面，为用户在业务高峰期保驾护航，为用户在业务高保驾护航。</p>
                            </div>
                        </li>
                    </ul>
                     
                    <ul class="clearfix"></ul>
                </div>
            </div>

            <%include inc/pro-vip.ejs%>
        </div>
        <!--solutionpageends-->        
        <div class="page-ft">
            <%include inc/foot.ejs%>
        </div>
    <script type="text/javascript" data-main="/assets/script/solution/conf" src="/assets/script/lib/require.js"></script>
    </body>
</html>
