// footbar css
@import  '../../assets/style/lib/skin.scss';

footer {
   background: $skin-foot;
   color: $color-foot;
   padding: 40px 0;
   a {
        color: $color-foot-link;
        display: block;
    }
   h4 {
        font-size: 16px;     
   }
   .wrap:first-child {
        border-bottom: 1px solid $skin-foot-sp; 
   }
   .site-cp {
        color: $color-cp;
        font-size: 12px;
   }
}
