<!--helpdoc菜单-->
<ol class="menu">
    <li class="level-one">
        <a href="#">
            <img src="/assets/img/common/icon-helpdoc-add.png">
            快速使用
        </a>
        <ol>
            <li><a href="#">购买流程</a></li>
            <li><a href="#">登录主机</a></li>
            <li><a href="#">挂载本地ssd盘</a></li>
            <li><a href="#">重装操作系统</a></li>
            <li><a href="#">数据盘</a></li>
            <li><a href="#">防火墙</a></li>
            <li><a href="#">镜像</a></li>
        </ol>
    </li>
    <li>
        <a href="#">
            <img src="/assets/img/common/icon-helpdoc-add.png">
            产品操作指引
        </a>
        <ol>
            <li>
                <a href="#">
                    <img src="/assets/img/common/icon-helpdoc-add.png">
                    计算机网络
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/common/icon-helpdoc-add.png">
                    云服务器KEC
                </a>
                <ol>
                    <li><a href="#">购买流程</a></li>
                    <li><a href="#">登录主机</a></li>
                    <li><a href="#">挂载本地ssd盘</a></li>
                    <li><a href="#">管理主机</a></li>
                    <li><a href="#">重装操作系统</a></li>
                    <li><a href="#">数据盘</a></li>
                    <li><a href="#">防火墙</a></li>
                    <li><a href="#">镜像</a></li>
                </ol>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/common/icon-helpdoc-add.png">
                    云物理主机EPC
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/common/icon-helpdoc-add.png">
                    负载均衡SLB
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/common/icon-helpdoc-add.png">
                    数据库
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/common/icon-helpdoc-add.png">
                    关系型数据库RDS
                </a>
            </li>
            <li class="level-one">
                <a href="#">
                    缓存服务KCS
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/common/icon-helpdoc-add.png">
                    存储与内容传输
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/common/icon-helpdoc-add.png">
                    云物理主机EPC
                </a>
            </li>
            <li class="level-one">
                <a href="#">
                    缓存服务KCS
                </a>
            </li>
            <li class="level-one">
                <a href="#">
                    缓存服务KCS
                </a>
            </li>
        </ol>
    </li>
    <li class="level-one">
        <a href="#">
            <img src="/assets/img/common/icon-helpdoc-add.png">
            账户流程
        </a>
        <ol>
            <li><a href="#">购买流程</a></li>
            <li><a href="#">登录主机</a></li>
            <li><a href="#">挂载本地ssd盘</a></li>
            <li><a href="#">重装操作系统</a></li>
            <li><a href="#">数据盘</a></li>
            <li><a href="#">防火墙</a></li>
            <li><a href="#">镜像</a></li>
        </ol>
    </li>
</ol>
