<!--菜单-->
<ol class="menu">
    <li><a href="#">关于我们</a></li>
    <li>
        <a href="#">新闻动态</a>
        <ol>
            <li><a href="#">官网公告</a></li>
            <li><a href="#">新闻资讯</a></li>
            <li><a href="#">平台公告</a></li>
        </ol>
    </li>
    <li><a href="#">加入我们</a></li>
    <li><a href="#">合作伙伴</a></li>
    <li><a href="#">友情链接</a></li>
</ol>
