/*
 *@file homepage
*/
@import '../lib/skin.scss';

$skin-page-bg: #f7f7f7;
$color-sns: #8692b5;
$color-news: #464646;
$color-date: #797979;
$color-page: #9c9c9c;
$skin-list-border: #ececec;
$skin-page: #f3f3f3;
$skin-page-dark: #4d4d4d;

#page-bd {
    background: $skin-page-bg;
    .wrap:first-child {
        padding-top: 25px;
    }
}
.col-l {
    float: left;
    width: 160px;
}
.col-r {
    float: right;
    width: 790px;
    background: $skin-light;
    padding: 30px 20px;
    min-height: 800px;
}
h2.title {
    font-size: 24px;
    font-weight: normal;
    border-left: 5px solid $skin-highlight;
    padding-left: 20px;
    line-height: 1em;
    margin-bottom: 25px;
    &:nth-of-type(2) {
        margin-top: 25px;
    }
}
p {
    color: $color-des;
    line-height: 1.75em;
    padding: 0 20px 20px;
}

.contact {
    color: $color-des;
    line-height: 1.75em;
    margin-bottom: 25px;
    position: relative;
    img {
        position: absolute;
        width: 402px;
        height: 274px;
        right: 0;
        top: 0;
    }
    li {
        padding: 0 0 30px 40px;
        &:first-child {
            background: url('/assets/img/common/ico-ip.png') 20px 3px no-repeat;
        }
        &:nth-child(2) {
            background: url('/assets/img/common/ico-tel-about.png') 20px 4px no-repeat;
        }
        &:last-child {
            background: url('/assets/img/common/ico-service-about.png') 20px 4px no-repeat;
        }
        span {
            display: block;
            font-size: 18px;
            color: $color-highlight;
        }
        .btn {
            display: block;
            width: 125px;
            text-align: center;
            border: 1px solid $skin-highlight;
            color: $color-highlight;
            margin-top: 5px;
            @include transitionpro(background);
            &:hover {
                background: $skin-highlight;
                color: $color-light;
            }
        }
    }
}
.sns {
    float: left;
    width: 600px;
    color: $color-sns;
    padding-left: 20px;
    li {
        float: left;
        width: 120px;
        img:first-child {
           position: relative;
           top: 6px;
           margin-right: 10px;
        }
        img:last-child {
            display: block;
            margin-top: 15px;
        }
    }
}
.newslist {
    li {
        padding: 30px 0;
        position: relative;
        border-bottom: 1px solid $skin-list-border;

        span {
            color: $color-date;
            position: absolute;
            right: 0;
            top: 40px;
        }
    }
    a {
        font-size: 24px;
        color: $color-news;
        text-overflow: ellipsis;
        display: block;
        width: 600px;
        white-space: nowrap;
        overflow: hidden;
        @include transitionpro(color);
        &:hover {
            color: $color-link-hover;
        }
    }
}
.pages {
    text-align: center;
    margin-top: 70px;
    color: $color-page;
    ol {
        display: inline-block;
    }
    li {
        background: $skin-page;
        padding: 9px 13px;
        display: inline-block;
        cursor: pointer;
        line-height: 1em;
        &:hover {
            color: $color-highlight;
        }
    }
    li.active {
        background: $skin-page-dark;
        color: $color-light;
    }
    strong {
        margin-left: 20px;
    }
}
