/*
 *@file homepage
*/
@import '../lib/skin.scss';

$skin-page-bg: #f7f7f7;
$color-sns: #8692b5;
$color-news: #464646;
$color-date: #797979;
$color-page: #9c9c9c;
$color-code-highlight: #ff5a00;
$color-code-sig: #818181;
$skin-list-border: #ececec;
$skin-page: #f3f3f3;
$skin-page-dark: #4d4d4d;
$skin-code-bg: #f7f7f7;
$skin-newslist: #fffbeb;


#page-bd {
    background: $skin-page-bg;
    > .wrap:first-child {
        padding-top: 25px;
    }
}
.col-l {
    float: left;
    width: 160px;
}
.col-r {
    float: right;
    width: 788px;
    background: $skin-light;
    padding: 30px 20px;
    min-height: 800px;
}
// about us
h2.title {
    font-size: 24px;
    font-weight: normal;
    border-left: 5px solid $skin-highlight;
    padding-left: 16px;
    line-height: 1em;
    margin: 25px 0;
    color: $color-news;
    &:nth-of-type(1) {
        margin-top: 0;
        margin-bottom: 25px;
    }
}
p {
    color: $color-des;
    line-height: 1.75em;
    padding: 0 20px 20px;
}
.contact {
    color: $color-des;
    line-height: 1.75em;
    margin-bottom: 25px;
    position: relative;
    img {
        position: absolute;
        width: 402px;
        height: 274px;
        right: 0;
        top: 0;
    }
    li {
        padding: 0 0 30px 40px;
        &:first-child {
            background: url('/assets/img/common/ico-ip.png') 20px 3px no-repeat;
        }
        &:nth-child(2) {
            background: url('/assets/img/common/ico-tel-about.png') 20px 4px no-repeat;
        }
        &:last-child {
            background: url('/assets/img/common/ico-service-about.png') 20px 4px no-repeat;
        }
        span {
            display: block;
            font-size: 18px;
            color: $color-highlight;
        }
        .btn {
            display: block;
            width: 125px;
            text-align: center;
            border: 1px solid $skin-highlight;
            color: $color-highlight;
            margin-top: 5px;
            @include transitionpro(background);
            &:hover {
                background: $skin-highlight;
                color: $color-light;
            }
        }
    }
}
.sns {
    float: left;
    width: 600px;
    color: $color-sns;
    padding-left: 20px;
    li {
        float: left;
        width: 120px;
        img:first-child {
           position: relative;
           top: 6px;
           margin-right: 10px;
        }
        img:last-child {
            display: block;
            margin-top: 15px;
        }
    }
}


// newslist
.newslist {
    li {
        padding: 20px 0;
        position: relative;
        border-bottom: 1px solid $skin-list-border;
        @include transitionpro(background);
        span {
            color: $color-date;
            position: absolute;
            right: 0;
            top: 24px;
        }
        &:hover {
            background: $skin-newslist; 
        }
    }
    a {
        font-size: 18px;
        color: $color-news;
        text-overflow: ellipsis;
        display: block;
        width: 570px;
        padding-left: 30px;
        white-space: nowrap;
        overflow: hidden;
        background: url('/assets/img/common/ico-list.png') 12px center no-repeat;
        @include transitionpro(color);
        &:hover {
            color: $color-highlight;
            background: url('/assets/img/common/ico-list-hover.png') 12px center no-repeat;
        }
    }
}
.pages {
    text-align: center;
    margin-top: 70px;
    color: $color-page;
    ol {
        display: inline-block;
    }
    li {
        background: $skin-page;
        padding: 9px 13px;
        display: inline-block;
        cursor: pointer;
        line-height: 1em;
        &:hover {
            color: $color-highlight;
        }
    }
    li.active {
        background: $skin-page-dark;
        color: $color-light;
    }
    strong {
        margin-left: 20px;
    }
}

// newscontent
.content {
    padding-top: 30px;
    >.wrap {
        background: $skin-light;
        padding: 30px 50px;
        width: 900px;
    }
}
.breadthumb {
    border-bottom: 1px solid $skin-list-border;
    padding-bottom: 20px;
    ol {
        float: left;
        width: 500px;
        background: url('/assets/img/common/ico-btn-back.png') left center no-repeat;
        padding-left: 30px;
        li {
            float: left;
            padding: 0 5px;
            color: $color-news;
        }
    }
    a {
        margin-right: 5px;
        color: $color-news;
    }
}
.contents {
    min-height: 800px;
    hgroup {
        padding: 40px 0;
        position: relative;
        h1 {
            font-size: 24px;
            line-height: 1em;
            text-align: center;
            color: $color-news;
            font-weight: normal;
            padding-bottom: 35px;
        }
        span.date, span.share {
            color: $color-date;
        }
        span.share {
            position: absolute;
            right: 0;
            bottom: 38px;
            display: block;
            width: 225px;
            span {
                float: left;
            }
            #btn-share {
                float: left;
            }
        }
    }
    article p {
        padding: 0 0 20px;
    }
}

// colink
.colink {
    dl {
        float: left;
        width: 100%;
        dt {
            clear: both;
            float: left;
            width: 168px;
            p {
                font-size: 18px;
            }
            blockquote {
                font-size: 24px;
                color: $color-highlight;
                padding: 18px 20px;
            }
        }
        dd {
           float: left;
           background: $skin-code-bg;
           padding: 18px;
           margin: 0 0 34px 0;
           textarea {
                width: 430px;
                height: 120px;
                border: 0;
                outline: 0;
                background: transparent;
                resize: none;
                font-size: 14px;
                color: $color-des;
            }
        }
    }

    a {
        display: inline-block;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 20px;
    }
}

// 合作伙伴
.col-r img.banner {
    margin: -30px 0 30px -20px;
}
.flowchart {
    text-align: center;
    img {
        margin: 0 auto;
    }
    .code {
        text-align: left;
        background: $skin-code-bg;
        padding: 18px;
        margin: 0 20px;
        color: $color-news;
        em {
            font-style: normal;
            color: $color-code-highlight;
        }
        + p {
            text-align: right;
            padding-top: 10px;
            color: $color-code-sig;
            a {
                color: $color-link-hover;
            }
        }
    }
}
